<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
    <div class = botones>

    <a href='@Url.Action("Comenzar","Home")'>Comienza la sala</a>
    <a href='@Url.Action("Tutorial","Home")'>Tutorial y explicación</a>
    <a href='@Url.Action("Creditos","Home")'>Créditos</a>
    </div>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - Sala de escape "El conjuro"
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
